<html>
<head>
<title>images.html</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<style type="text/css">
.ln { color: #606366; font-weight: normal; font-style: normal; }
.s0 { color: rgb(232,191,106); }
.s1 { color: rgb(186,186,186); }
.s2 { color: rgb(169,183,198); }
.s3 { color: rgb(165,194,97); }
.s4 { color: rgb(128,128,128); }
</style>
</head>
<BODY BGCOLOR="#2b2b2b">
<TABLE CELLSPACING=0 CELLPADDING=5 COLS=1 WIDTH="100%" BGCOLOR="#606060" >
<TR><TD><CENTER>
<FONT FACE="Arial, Helvetica" COLOR="#000000">
images.html</FONT>
</center></TD></TR></TABLE>
<pre>
<span class="s0">&lt;!Doctype </span><span class="s1">html</span><span class="s0">&gt;</span><span class="s2"> 
 
</span><span class="s0">&lt;html </span><span class="s1">xmlns:th=</span><span class="s3">&quot;http://thymeleaf.org&quot;</span><span class="s0">&gt;</span><span class="s2"> 
 
</span><span class="s0">&lt;head </span><span class="s1">th:replace=</span><span class="s3">&quot;layout :: site-head&quot;</span><span class="s0">&gt;</span><span class="s2"> 
</span><span class="s0">&lt;/head&gt;</span><span class="s2"> 
 
</span><span class="s4">&lt;!-- Using the logged-in fragment --&gt;</span><span class="s2"> 
</span><span class="s0">&lt;header </span><span class="s1">th:replace=</span><span class="s3">&quot;layout :: logged-in&quot;</span><span class="s0">&gt;&lt;/header&gt;</span><span class="s2"> 
</span><span class="s4">&lt;!-- Display all the images in user home page after successful log in--&gt;</span><span class="s2"> 
</span><span class="s0">&lt;body&gt;</span><span class="s2"> 
</span><span class="s0">&lt;h1&gt;</span><span class="s2">Welcome User. These are the images</span><span class="s0">&lt;/h1&gt;</span><span class="s2"> 
</span><span class="s0">&lt;main </span><span class="s1">id=</span><span class="s3">&quot;images&quot;</span><span class="s0">&gt;</span><span class="s2"> 
    </span><span class="s0">&lt;post </span><span class="s1">th:each=</span><span class="s3">&quot;i : ${images}&quot;</span><span class="s0">&gt;</span><span class="s2"> 
        </span><span class="s0">&lt;p&gt;</span><span class="s2"> 
        </span><span class="s0">&lt;div&gt;</span><span class="s2"> 
            </span><span class="s0">&lt;img </span><span class="s1">th:src=</span><span class="s3">&quot;'data:image/jpeg;base64,'+${i.imageFile}&quot;</span><span class="s0">/&gt;</span><span class="s2"> 
        </span><span class="s0">&lt;/div&gt;</span><span class="s2"> 
 
        </span><span class="s4">&lt;!--Change &lt;a th:href=&quot;'/images/' + ${i.title}&quot;&gt; to &lt;a th:href=&quot;'/images/' +${i.id} +'/' +${i.title}&quot;&gt;--&gt;</span><span class="s2"> 
        </span><span class="s0">&lt;a </span><span class="s1">th:href=</span><span class="s3">&quot;'/images/' + ${i.title}&quot;</span><span class="s0">&gt;</span><span class="s2"> 
            </span><span class="s0">&lt;h3 </span><span class="s1">th:text=</span><span class="s3">&quot;${i.title}&quot;</span><span class="s0">&gt;</span><span class="s2">Title of image</span><span class="s0">&lt;/h3&gt;</span><span class="s2"> 
        </span><span class="s0">&lt;/a&gt;</span><span class="s2"> 
        </span><span class="s0">&lt;i&gt;</span><span class="s2">Posted On: </span><span class="s0">&lt;/i&gt; &lt;span </span><span class="s1">th:text=</span><span class="s3">&quot;${i.date}&quot;</span><span class="s0">&gt;&lt;/span&gt;</span><span class="s2"> 
        </span><span class="s0">&lt;br&gt;</span><span class="s2"> 
        </span><span class="s0">&lt;br&gt;</span><span class="s2"> 
        </span><span class="s0">&lt;hr&gt;</span><span class="s2"> 
        </span><span class="s0">&lt;/p&gt;</span><span class="s2"> 
    </span><span class="s0">&lt;/post&gt;</span><span class="s2"> 
</span><span class="s0">&lt;/main&gt;</span><span class="s2"> 
</span><span class="s0">&lt;/body&gt;</span><span class="s2"> 
</span><span class="s0">&lt;/html&gt;</span><span class="s2"> 
</span></pre>
</body>
</html>